:root {
  --cell-size: 120px;
}

body {
  background: #eee;
  text-align: center;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  cursor: url(../img/hammer.png), auto;
}